body {
	background-color: #333333 !important;
	color: #3c50b8 !important;
}

.bg-primary {
	background-color: #ed1d1d !important;
}

.navbar-inverse .navbar-nav .nav-link {
	color: #d4d4d4 !important;
}